* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.symbol {
  font-weight: 800;
  background-color: brown;
  text-align: center;
  color: white;
}

.companyName {
  font-weight: 600;
  border-bottom: brown solid 1px;
  padding-left: 10px;
}

.companyText {
  padding-left: 10px;
}

.link {
  font-weight: 800;
  font-size: x-large;
  text-align: center;
}

.ticker {
  font-weight: 800;
  background-color: brown;
  text-align: center;
  color: white;
}

.forexText {
  padding-left: 10px;
  background-color: wheat;
}

.stockText {
  padding-left: 10px;
}

form {
  margin-left: 20px;
}

legend {
  font-weight: 800;
  text-decoration: underline;
}

.form-label {
  color: white;
  background-color: brown;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

option {
  border: 1px solid brown;
  background-color: burlywood;
}

.container {
  margin-left: 30px;
  margin-top: 15px;
  margin-right: 15px;
}

.website {
  background-color: blue;
  color: white;
}

.btn {
  background-color: blue;
  color: white;
}

.content {
  display: flex;
}

.image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: x-large;
  font-weight: 800;
}

.right {
  padding-left: 20px;
}

.jumbotron {
  margin: 25px;
}

.footer {
  background-color: blue;
  height: 3rem;
}

.container-footer {
  color: white;
}
