* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.symbol {
  font-weight: 800;
  background-color: teal;
  text-align: center;
  color: white;
}

.companyName {
  font-weight: 600;
  border-bottom: teal solid 1px;
  padding-left: 10px;
}

.companyText {
  padding-left: 10px;
}

.link {
  font-weight: 800;
  font-size: x-large;
  text-align: center;
}

.ticker {
  font-weight: 800;
  background-color: teal;
  text-align: center;
  color: white;
}

.forexText {
  padding-left: 10px;
  background-color: rgb(179, 245, 207);
}

.stockText {
  padding-left: 10px;
}

form {
  margin-left: 20px;
}

legend {
  font-weight: 800;
  text-decoration: underline;
}

.form-label {
  color: white;
  background-color: teal;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

option {
  border: 1px solid teal;
  background-color: rgb(206, 235, 203);
}

.container {
  margin-left: 30px;
  margin-top: 15px;
  margin-right: 15px;
}

.website {
  background-color: teal;
  color: white;
}

.btn {
  background-color: teal;
  color: white;
  text-align: center;
  display: block;
  margin: 0  auto;
  width: 30%;
  border-radius: 5px;
}

.content {
  display: flex;
}

.image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: x-large;
  font-weight: 800;
}

.right {
  padding-left: 20px;
}

.jumbotron {
  margin: 25px;
}

.footer {
  height: 3rem;
}

.container-footer {
  color: white;
}

.nav-link {
  margin-right: 10px;
  padding-right: 10px;
}

.nav-link:hover {
  background-color: cornflowerblue;
}

footer a {
  color: rgb(238, 238, 92);
}

footer a:hover {
  font-size: x-large;
}

.jumbotron-details {
  height: 79.7vh;
}

.modifier{
  margin-top: 4rem;
  margin-bottom: -2rem;
}

.filter{
  margin-top: 4rem;
  margin-bottom: -2rem;
}